@media print {

    @page {
        size: Letter portrait;
        margin: 0;
        padding: 0;
    }

    /* prevent from printing an excess blank page */
    html,
    body {
        height: auto !important;
        left: 0;
    }

    body * {
        font-size: 7pt;
    }

    /*body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact;
    }*/

    .no-print {
        display: none;
    }

    .no-margin-top {
        margin-top: 0 !important;
    }

    #yellowTD {
        background-color: #FFD205 !important;
    }

    #blueTD {
        background-color: #ADD8E6 !important;
    }

}

.schoolTitle {
    font-family: "Lucida Calligraphy";
    display: inline-block !important;
    font-size: 1.5em !important;
}

.left-5 {
    margin-left: 5px !important;
}
