@media print {
	@page {
		size: A4 Portrait;
        margin: 10mm 0 10mm 0;
	}

	.no-print {
		display: none;
	}
}

.schoolTitle {
    display: inline-block !important;
    font-size: 1.5em !important;
}