h2.centered-text {
    width: 100%;
    text-align: center; 
    border-bottom: 1px solid #e5e5e5; 
    line-height: 0.1em;
    margin: 10px 0 20px;
}
 
h2.centered-text span { 
    background:#fff; 
    padding:0 10px; 
}